<div class="container">
	<h1>Portfolio</h1>
</div>
    
<div class="banner">
  <div class="container">
    <div class="slider">
      <%= image_tag("../assets/website-screenshots/outbox.png") %>
      <%= image_tag("../assets/website-screenshots/boltnetwork.png") %>
      <%= image_tag("../assets/website-screenshots/calendar.png") %>
    </div>
  </div>
</div>

<div class="supporting">
  <div class="container">
    
    <div class="row">
      <div class="col-md-4">
        <a class="consumer thumbnail">
          <%= image_tag("../assets/website-screenshots/readme.png") %>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, eum?</p>
        </a>
      </div>
      <div class="col-md-4">
        <a class="consumer thumbnail">
          <%= image_tag("../assets/website-screenshots/readme.png") %>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, eum?</p>
        </a>
      </div>
      <div class="col-md-4">
        <a class="consumer thumbnail">
          <%= image_tag("../assets/website-screenshots/readme.png") %>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, eum?</p>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <a class="consumer thumbnail">
          <%= image_tag("../assets/website-screenshots/bonsai.png") %>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, eum?</p>
        </a>
      </div>
      <div class="col-md-4">
        <a class="consumer thumbnail">
          <%= image_tag("../assets/website-screenshots/bonsai.png") %>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, eum?</p>
        </a>
      </div>
      <div class="col-md-4">
        <a class="consumer thumbnail">
          <%= image_tag("../assets/website-screenshots/bonsai.png") %>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, eum?</p>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <a class="consumer thumbnail">
          <%= image_tag("../assets/website-screenshots/gameboard.png") %>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, eum?</p>
        </a>
      </div>
      <div class="col-md-4">
        <a class="consumer thumbnail">
          <%= image_tag("../assets/website-screenshots/gameboard.png") %>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, eum?</p>
        </a>
      </div>
      <div class="col-md-4">
        <a class="consumer thumbnail">
          <%= image_tag("../assets/website-screenshots/gameboard.png") %>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, eum?</p>
        </a>
      </div>
    </div>

    
  </div>
</div>